#carouselExampleControls {
    background-image: url("https://blogzine.webestica.com/assets/images/blog/16by9/big/01.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
}